.blog {
  main {
    align-items: center;
    display: flex;
    flex-direction: column;

    > span {
      display: flex;
      flex-direction: column;
      max-width: 1100px;
      padding: 1rem 1rem;
      width: 100%;
    }
  }
}
