.main {
  align-items: center;
  display: flex;
  flex-direction: column;

  a {
    color: #2e75b5;
  }

  h2 {
    margin-bottom: 0.6rem;
  }

  h3 {
    margin-top: 1rem;
    text-align: left;
  }

  main {
    align-items: flex-start;
  }

  p {
    margin-bottom: 1rem;
  }

  span {
    max-width: 1100px;
    padding: 20px 0.6rem;
    width: 100%;
  }
}
