@import "./styles/mixins/Logo";

$main-logo-color: white;

.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  @include logo($main-logo-color);

  p {
    color: white;
  }

  span[role="trailing"] {
    display: flex;
    flex-direction: column;
    // justify-content: flex-start;

    span {
      align-items: center;
      justify-content: flex-end;

      svg {
        margin-right: 0.4rem;
      }
    }
  }
}

.footer__body {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  width: 100%;

  > p {
    font-size: 10px !important;
  }

  span {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3rem;
    width: 100%;
  }
}

@media only screen and (max-width: 750px) {
  .footer {
    p {
      font-size: 14px;
    }
  }

  .footer__body {
    text-align: center;
    > span {
      display: flex;
      flex-direction: column;
    }

    span[role="leading"],
    span[role="trailing"] {
      justify-content: center;

      span[id="logo"] {
        width: 312.5px;
      }

      span {
        justify-content: center;
      }
    }
  }
}
