.form {
  button {
    background-color: #595959;
    border: 1px solid #595959;
    border-radius: 5px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    height: 36px;
    margin: 0.4rem 0;
    width: min(242px, 100%);
  }
}
