@import "./styles/mixins/Logo";

$hover-logo-color: #323232;
$main-logo-color: #6e6e6e;

.header {
  background-color: white;
  display: flex;
  height: 90px;
  justify-content: center;
  padding: 0 1.8rem;
  width: 100%;
  @include logo($main-logo-color);

  span[id="logo"]:hover {
    @include logo($hover-logo-color);
  }

  span {
    align-items: center;
    display: flex;
    max-width: 1100px;
    width: 100%;
  }

  span[role="trailing"] {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    p {
      margin-right: 2rem;
    }

    span {
      width: fit-content;
    }

    svg {
      margin-left: 0.6rem;
    }
  }
}
