.hero {
  background-image: url("../public/assets/skyline-amsterdam.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 314px;
  margin-top: 90px;
  width: 100%;
}

@media only screen and (max-width: 750px) {
  .hero {
    margin-top: 64px;
  }
}
