.introduction {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  width: 100%;

  div[role="image"] {
    background-image: url("../public/assets/graphs.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    width: 600px;
  }

  p {
    padding: 1rem 0;
  }

  span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 3rem;
    max-width: 1100px;
    width: 100%;

    span {
      display: flex;
      flex-direction: column;
    }
  }
}

@media only screen and (max-width: 750px) {
  .introduction {
    span {
      max-width: unset;
      padding: 0 0.3rem;
      text-align: left;
    }
  }
}
